<!DOCTYPE html>
<html>
    <head>
        <title>About page</title>
        <link href="./css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>The site was created by Vlad. It uses data from mapbox.com and weatherstack.com</p>
            <img src="./css/poza.jpg" class="myImage">
        
        </div>
        {{>footer}}
    </body>
</html>